@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaLTMedium";
  src: local("FuturaLTMedium"),
    url(./assets/fonts/Futura_LT_Medium.ttf) format("truetype");
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
}

.postContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li:focus {
  color: white;
  background-color: #003d79;
}

@keyframes slideRight {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.group:hover .bg-transparent {
  animation: slideRight 0.3s ease-in-out forwards;
}

/* Learn more button */
.learn-button {
  position: relative;
  overflow: hidden;
  transition: background-color 360ms;
  color: #fff;
}

.learn-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.36s ease-in-out;
}

.certificate::before {
  background-color: rgb(30 64 175);
}

.service::before {
  background-color: #fff;
}
.service:hover {
  color: #003d79;
}

.learn-button:hover::before {
  left: 0;
}

.rotateY:hover {
  transform: rotateY(360deg);
  transition: transform 1s;
}

/* product arrow */
.product-group:hover .product-arrow svg {
  fill: #003d79;
}
.product-arrow svg {
  fill: #ffffff;
}

.home-after {
  position: absolute;
  bottom: -8px;
  border: solid 5px;
  transform: rotate(135deg) translateX(-50%);
  border-color: #003d79 #003d79 transparent transparent;
  left: 45%;
}

.learn-more:hover span {
  transform: scaleX(1);
}

/* Solution */
.box_img:hover a::before {
  bottom: 0;
  right: 0;
  opacity: 1;
}

.box_img:hover a::after {
  top: 0;
  left: 0;
  opacity: 1;
}

.box_img a::before {
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  border-top: 5px solid;
  border-left: 5px solid;
  border-color: #003d79;
  background: rgba(255, 255, 255, 0.3);
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  box-shadow: none;
  transition: all 0.5s ease;
}

.box_img a::after {
  content: "";
  position: absolute;
  opacity: 1;
  pointer-events: none;
  z-index: 3;
  box-shadow: none;
  transition: all 0.5s ease;
  left: 100%;
  top: 100%;
  bottom: 0;
  right: 0;
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-color: #003d79;
}

/* Swiper arrow */
.swiper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: #ededed;
  border-radius: 50%;
}
.swiper-button:hover {
  background-color: #003d79;
}

.swiper-button svg {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-swiper-button-prev {
  left: -70px;
}
.image-swiper-button-prev svg {
  left: 46%;
}
.image-swiper-button-next {
  right: -70px;
}
.image-swiper-button-next svg {
  left: 51%;
}

@media (min-width: 510px) {
  .categorySmall {
    display: none;
  }

  .categoryBig {
    display: block;
  }
}
@media (min-width: 768px) {
  .smallScreen {
    display: none;
  }

  .bigScreen {
    display: block;
  }
}
